Questions 1:
How to import pandas and check the version?

In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)

1.0.5

Questions 2:
How to create a series from a numpy array?

In [2]:
data = np.array(['C','C++','Java','Python','Perl','Ruby','Julia'])
s = pd.Series(data)
print("series:\n",s)

series:
 0         C
1       C++
2      Java
3    Python
4      Perl
5      Ruby
6     Julia
dtype: object

Questions 3:
How to convert the index of a series into a column of a dataframe?

In [3]:
df = s.to_frame().reset_index()
df

   index       0
0      0       C
1      1     C++
2      2    Java
3      3  Python
4      4    Perl
5      5    Ruby
6      6   Julia

Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset

In [4]:
import seaborn as sns
print(sns.__version__)

print(sns.get_dataset_names())

df = sns.load_dataset('mpg')

print("\n columns:",df.columns)
print("\n shape:",df.shape)
df.head()

0.10.1

C:\Users\home pc\anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\home pc\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

 columns: Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

 shape: (398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

Questions 5:
Which country origin cars are a part of this dataset?

In [5]:
df['origin']

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
393       usa
394    europe
395       usa
396       usa
397       usa
Name: origin, Length: 398, dtype: object

question.6
Extract the part of the dataframe which contains cars belonging to 'usa'

In [10]:
df.loc[df['origin'] == 'usa'].head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino